name: publish_conda

on:
  release:
    types: [published]
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build conda package
        uses: prefix-dev/rattler-build-action@v0.2.34
        with:
          recipe-path: recipe.yaml
          build-args: --target-platform linux-64 --no-test --experimental

      - name: Upload all packages
        shell: bash
        run: |
          for pkg in $(find output -type f \( -name "*.conda" -o -name "*.tar.bz2" \) ); do
            echo "Uploading ${pkg}"
            rattler-build upload anaconda -o bfh "${pkg}"
          done
        env:
          ANACONDA_API_KEY: ${{ secrets.ANACONDA_TOKEN }}
